body {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(168, 90, 192, 0.658);
}

#paragraph-result {
  margin-top: 50px;
}

input {
  margin-top: 5px;
  width: 200px;
}
