body {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(143, 26, 117, 0.466);
}

#paragraph-result {
  margin-top: 50px;
}

input {
  margin-top: 5px;
  width: 200px;
}
